
@media only screen and (min-width : 601px) {
    .row .col.m1 { width: 8.33%;  }
    .row .col.m2 { width: 16.66%; }
    .row .col.m3 { width: 25%;    }
    .row .col.m4 { width: 33.33%; }
    .row .col.m5 { width: 41.66%; }
    .row .col.m6 { width: 50%;    }
    .row .col.m7 { width: 58.33%; }
    .row .col.m8 { width: 66.66%; }
    .row .col.m9 { width: 75%;    }
    .row .col.m10{ width: 83.33%; }
    .row .col.m11{ width: 91.66%; }
    .row .col.m12{ width: 100%;   }
}
    
 @media only screen and (min-width : 993px) {
    .row .col.l1 { width: 8.33%;  }
    .row .col.l2 { width: 16.66%; }
    .row .col.l3 { width: 25%;    }
    .row .col.l4 { width: 33.33%; }
    .row .col.l5 { width: 41.66%; }
    .row .col.l6 { width: 50%;    }
    .row .col.l7 { width: 58.33%; }
    .row .col.l8 { width: 66.66%; }
    .row .col.l9 { width: 75%;    }
    .row .col.l10{ width: 83.33%; }
    .row .col.l11{ width: 91.33%; }
    .row .col.l12{ width: 100%;   }
}
    